### Postgres parameters
POSTGRES_DB = 'my_db'
POSTGRES_USER = 'username'
POSTGRES_PASSWORD = 'password'
POSTGRES_HOST = 'localhost'
POSTGRES_PORT = '5432'

### Postgres schemas
POSTGRES_SCHEMA_LIMITES_ADMIN = 'limites_admin'
POSTGRES_SCHEMA_LIMITES_ADMIN_OSM = 'limites_admin_osm'
POSTGRES_SCHEMA_POIS = 'pois_osm'
POSTGRES_SCHEMA_STATS = 'stats'

POSTGRES_TAGINFO_TABLE = "osm_taginfo"

### PBF USED (WITH ATTRIBUTES)
PBF_PATH = 'france-260601-internal.osm.pbf'

### DATA DIRS
DATA_DIR = 'data'
CHANGE_FILE_SUBFOLDER = 'france_internal_change_files'

### lua scripts for osm2pgsql
BOUNDARIES_LUA_FLEX = 'script_limites_admin.lua'
POIS_LUA_FLEX = 'script_pois.lua'

### you have to clone the repo https://github.com/geofabrik/sendfile_osm_oauth_protector in order to be able to download pbf with full metadata
OAUTH_COOKIE_CLIENT_PY_PATH = '<path>/sendfile_osm_oauth_protector/oauth_cookie_client.py'
COOKIE_FILENAME = 'cookie_file.txt'
OSM_USERNAME = 'username'
OSM_PASSWORD = 'password'
CONSUMER_URL = 'https://osm-internal.download.geofabrik.de/get_cookie'


### CLOUD STORAGE PARAMETERS
STORAGE_PROFILE_NAME = "profile_name"
STORAGE_ENDPOINT_URL = "url"
STORAGE_BUCKET = "bucket_name"
